NodeRed/Flow5.json
[
    {
        "id": "653d7c2bdf79fa8e",
        "type": "tab",
        "label": "Flow 5 - Clima por API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "143eb05ac9d8ba5a",
        "type": "mqtt in",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e77ab7f2ac264d00"
            ]
        ]
    },
    {
        "id": "e77ab7f2ac264d00",
        "type": "json",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "5738209338a487e7",
                "608f5b952bf21055"
            ]
        ]
    },
    {
        "id": "5738209338a487e7",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 80,
        "wires": [
            [
                "fab071f0dd9e76fa",
                "bbce5a278434ae11"
            ]
        ]
    },
    {
        "id": "608f5b952bf21055",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 140,
        "wires": [
            [
                "b0e629095d9195d1",
                "bbce5a278434ae11"
            ]
        ]
    },
    {
        "id": "fab071f0dd9e76fa",
        "type": "ui_gauge",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "05456781e81140b8",
        "order": 1,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#3465a4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "className": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "b0e629095d9195d1",
        "type": "ui_gauge",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "05456781e81140b8",
        "order": 2,
        "width": 6,
        "height": 2,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 140,
        "wires": []
    },
    {
        "id": "bbce5a278434ae11",
        "type": "ui_chart",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "05456781e81140b8",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "eeca95d11b4719a9",
        "type": "http request",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.432188&lon=-99.133382&appid={API Key}&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 410,
        "y": 300,
        "wires": [
            [
                "8c70f3de0e3669f1"
            ]
        ]
    },
    {
        "id": "11155ebd520fdd6e",
        "type": "inject",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "eeca95d11b4719a9"
            ]
        ]
    },
    {
        "id": "8c70f3de0e3669f1",
        "type": "json",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "ebaf56025363ec50",
                "d5bb978ddcd729a5"
            ]
        ]
    },
    {
        "id": "ebaf56025363ec50",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "Temperatura API",
        "func": "global.set (\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "f9969cfcc4474f43",
                "7d7d98d623742e1a"
            ]
        ]
    },
    {
        "id": "d5bb978ddcd729a5",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "Humedad por API",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humAPI\", msg.payload);\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "c28801eab204ed33",
                "7d7d98d623742e1a"
            ]
        ]
    },
    {
        "id": "f9969cfcc4474f43",
        "type": "ui_gauge",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "ad7f772bfe82cb9a",
        "order": 1,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#3465a4",
            "#4e9a06",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "className": "",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "c28801eab204ed33",
        "type": "ui_gauge",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "ad7f772bfe82cb9a",
        "order": 2,
        "width": 6,
        "height": 2,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 360,
        "wires": []
    },
    {
        "id": "7d7d98d623742e1a",
        "type": "ui_chart",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "ad7f772bfe82cb9a",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5b42a56a46f6fcc0",
        "type": "comment",
        "z": "653d7c2bdf79fa8e",
        "name": "MQTT",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "68d77774b57ae4b5",
        "type": "comment",
        "z": "653d7c2bdf79fa8e",
        "name": "API",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "eea0838c59ec03a6",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "JSON publico",
        "func": "msg.payload = '{\"id\":\"Nombre de usuario\",\"temp\":' + global.get(\"tempAPI\")+',\"hum\":' + global.get (\"humAPI\") +'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "c3b548d940df4ce2"
            ]
        ]
    },
    {
        "id": "b8d76e56b40367eb",
        "type": "comment",
        "z": "653d7c2bdf79fa8e",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 500,
        "wires": []
    },
    {
        "id": "870337e71e2618c0",
        "type": "inject",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "eea0838c59ec03a6"
            ]
        ]
    },
    {
        "id": "c3b548d940df4ce2",
        "type": "mqtt out",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8e46ec8a6703627",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "f8082a779d89724c",
        "type": "comment",
        "z": "653d7c2bdf79fa8e",
        "name": "Escuchador",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "b1e890050af52493",
        "type": "mqtt in",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f8e46ec8a6703627",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "e022832c8131ea05"
            ]
        ]
    },
    {
        "id": "e022832c8131ea05",
        "type": "json",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "eaf44802fca819aa",
                "6fb823b790b79d56"
            ]
        ]
    },
    {
        "id": "eaf44802fca819aa",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "Temperatura Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 660,
        "wires": [
            [
                "07563d8efaca3636"
            ]
        ]
    },
    {
        "id": "6fb823b790b79d56",
        "type": "function",
        "z": "653d7c2bdf79fa8e",
        "name": "Humedad Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 720,
        "wires": [
            [
                "587ac478af9bedd8"
            ]
        ]
    },
    {
        "id": "07563d8efaca3636",
        "type": "ui_chart",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "5df02c05be278305",
        "order": 1,
        "width": 12,
        "height": 7,
        "label": "Temperatuca Publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "587ac478af9bedd8",
        "type": "ui_chart",
        "z": "653d7c2bdf79fa8e",
        "name": "",
        "group": "5df02c05be278305",
        "order": 2,
        "width": 12,
        "height": 7,
        "label": "Humedad publica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "05456781e81140b8",
        "type": "ui_group",
        "name": "Informacion por MQTT",
        "tab": "9d5183b21fcb0521",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad7f772bfe82cb9a",
        "type": "ui_group",
        "name": "Información por API",
        "tab": "9d5183b21fcb0521",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8e46ec8a6703627",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5df02c05be278305",
        "type": "ui_group",
        "name": "Historico Publico",
        "tab": "9d5183b21fcb0521",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d5183b21fcb0521",
        "type": "ui_tab",
        "name": "Flow 5 - Clima por API",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]